/* Custom button */
.btn-custom {
  background-color: #1E5B5E;
  color: #fff;
}
.btn-custom:hover,
.btn-custom:focus {
  color: #fff;
  background-color: #70999C;
  border-color: #1A4B4F; 
}

.btn-custom:active .btn-custom.active,
.open > .dropdown-toggle.btn-custom {
  background-color: #164346;
}

/* Sticky footer */
html,
body {
  height: 100%;
}
#page-content {
  flex: 1 0 auto;
  margin-left: 250px; 
  transition: margin-left 0.3s ease; 
}
#sticky-footer {
  flex-shrink: none;
}
.custom-footer {
  background-color: #ffffff; 
  color: black; 
  padding: 20px 0; 
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: #01191a; 
  color: white;
  padding-top: 60px; 
  transition: width 0.3s ease; 
}

#body.collapsed .nav-link .sidebar-text {
  display: none;
}
.sidebar button {
  position: absolute; 
  top: 10px; 
  right: 10px; 
}
.navbar-nav .nav-link {
  transition: all 0.3s ease;
  border-radius: 5px; 
  padding: 10px 20px; 
}
.navbar-nav .nav-link:hover {
  background-color: #263d3d; 
  border-radius: 8px; 
}
.sidebar ul.navbar-nav li.nav-item {
  padding: 10px 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.sidebar ul.navbar-nav li.nav-item:last-child {
  border-bottom: none;
}
.sidebar ul.navbar-nav li.nav-item a.nav-link {
  color: white;
}
.sidebar ul.navbar-nav li.nav-item a.nav-link:hover {
  color: #fff; 
}

/* Browse button upload */
.custom-file-input {
  background-color: #D8F1F3;
  outline: #263d3d;
}

