{% extends "layout.html" %}

{% block title %}FAIRMicrobiome | Dashboard{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <br>
    <body>
        <h1>Welcome, {{ user_email }}!
            <small class="text-muted">What would you like to do?</small>
        </h1>
        <div></div>
        <div class="card-group">
            <div class="card">
                <div class="card-color-box"></div>
                <div class="card-body">
                    <h5 class="card-title">Search</h5>
                    <p class="card-text">Head straight into the search function.</p>
                </div>
                <div class="card-footer">
                    <a href="\search" role="button" class="btn btn-primary-custom">Search</a>
                </div>
            </div>
            <div class="card">
                <div class="card-color-box"></div>
                <div class="card-body">
                    <h5 class="card-title">Upload</h5>
                    <p class="card-text">Head to the upload function. </p>
                </div>
                <div class="card-footer">
                    <a href="\upload" role="button" class="btn btn-primary-custom">Upload</a>
                </div>
            </div>
            <div class="card">
                <div class="card-color-box"></div>
                <div class="card-body">
                    <h5 class="card-title">Update Entry</h5>
                    <p class="card-text">Go here to update an entry in the database.</p>
                </div>
                <div class="card-footer">
                    <a href="\change" role="button" class="btn btn-primary-custom">Update entry</a>
                </div>
            </div>
        </div>
        

    </body>
</div>
{% endblock %}
