{% extends "login_layout.html" %}
{% block title %}FAIRMicrobiome | Login{% endblock %}
{% block content %}   
<div class="row justify-content-center">
   <div class="col-md-6">
      <div class="card">
         <div class="card-header" style="background-color: #01191a; color: white;">Login</div>
         <div class="card-body">
            <form action="/login" method="POST">
               <div class="form-group">
                  <label for="email">Email:</label><br>
                  <input class="form-control" type="email" name="email" required style="width: 80%;">
               </div>
               <div class="form-group">
                  <label for="password">Password:</label><br>
                  <input class="form-control" type="password" name="password" required style="width: 80%;"><br>
               </div>
               <input type="submit" value="Login" class="btn btn-primary-custom">
               <a type="button"  href="/register" class="btn btn-primary-custom">Register</a>
            </form>
         </div>
      </div>
   </div>
</div>
{% endblock %}