{% extends "layout.html" %}
{% block title %}FAIRMicrobiome | P29-Score{% endblock %}
{% block content %}
{% if not result %}
<div class="card text-center" style="background-color: white;">
   <div class="card-body">
      <h1 class="display-3">P29-Score</h1>
      <p>The P29-Score quantifies identification risks for individuals within datasets, specifically addressing singling-out risks and inference risks, based on the diversity and distribution of values in the sensitive attributes. <br><br>
         A higher score indicates greater data privacy within the datasets. This score serves as an index of the GDPR-compliant privacy level of the data.
      </p>
   </div>
</div>
<br>
{% if error %}
<div class="alert alert-danger" role="alert">
   {{  error  }}
</div>
{% endif %}
<form method="POST" action="{{ url_for('p29score') }}">
   <div class="row">
      <div class="col-md-6">
         <h3>Select quasi-identifiers:
            <a  data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Attributes in a dataset that, while not uniquely identifying on their own, can be combined with other publicly available information to re-identify individuals">
            <i class="fa fa-info-circle info-icon" aria-hidden="true" style="color: #1E5B5E;"></i>
            </a>
         </h3>
         {% for column in columns %}
         <label>
         <input type="checkbox" name="quasi_identifiers" value="{{ column }}">
         {{ column }}
         </label><br>
         {% endfor %}
      </div>
      <div class="col-md-6">
         <h3>Select sensitive attributes:
            <a  data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Sensitive attributes are the attributes within a dataset that require higher levels of protection due to their potential to reveal personal or confidential information about individuals.">
            <i class="fa fa-info-circle info-icon" aria-hidden="true" style="color: #1E5B5E;"></i>
            </a>
         </h3>
         {% for column in columns %}
         <label>
         <input type="checkbox" name="sensitive_attributes" value="{{ column }}">
         {{ column }}
         </label><br>
         {% endfor %}
      </div>
   </div>
   <br>
   <input type="submit" class="btn btn-primary-custom" value="Calculate Score">
   <a type="button" class="btn btn-primary-custom" href="\data_generalization">Back</a>
</form>
<br>
{% else %}
<h1>P29-Score result</h1>
<div id="p29result" data-p29result="{{ p29result }}"></div>
<div id="minlresult" data-minl-result="{{ minlresult }}"></div>
<div id="maxtresult" data-maxt-result="{{ maxtresult }}"></div>
<div id="k_anonresult" data-k-anon-result="{{ k_anonresult }}"></div>
<div class="alert alert-success" role="alert">
   P29-Score calculation successful, please see the results below. 
</div>
<div class="row mt-3">
   <div class="col-md-4 mb-3">
      <div class="card" style="background-color: #F2EDE2;">
         <h5 class="card-header">P29-Score
            <a  data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="GDPR-compliant privacy metric.">
            <i class="fa fa-info-circle info-icon" aria-hidden="true" style="color: #1E5B5E;"></i>
            </a>
         </h5>
         <div class="card-body">
            <div class="score-wrap">
               <div class="score">
                  <div class="score-bar">
                     <div class="placeholder"style="background-color: #F2EDE2;">
                        <svg width="200" height="120">
                           <circle cx="100" cy="100" r="65" fill="none" stroke-width="25" stroke-linecap="round" stroke-dashoffset="-205.35" stroke-dasharray="408.69 10000" stroke="#FFFFFF"></circle>
                        </svg>
                     </div>
                     <div class="score-circle-p29">
                        <svg width="200" height="120">
                           <circle cx="100" cy="100" r="65" fill="none" stroke-width="25" stroke-linecap="round" stroke-dashoffset="-205.35" stroke-dasharray="{{ dashArrayp29 }} 10000" stroke="url(#score-gradient-p29)"></circle>
                           <defs>
                              <linearGradient id="score-gradient-p29">
                                 <stop offset="0%" stop-color="#FF6363"></stop>
                                 <stop offset="25%" stop-color="#FEBE8C"></stop>
                                 <stop offset="100%" stop-color="#B6E2A1"></stop>
                              </linearGradient>
                           </defs>
                        </svg>
                     </div>
                  </div>
                  <div class="score-value">
                     <div class="score-name" >Score</div>
                     <div class="score-number">{{ p29result }}</div>
                  </div>
               </div>
            </div>
         </div>
         <div class="card-footer">
            <div id="scoreMessage-p29"></div>
         </div>
      </div>
   </div>
   <div class="col-md-4 mb-3">
      <div class="card" style="background-color: #F2EDE2;">
         <h5 class="card-header">Minimum normalized l-value
            <a  data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="The minimal diversity of a sensitive attribute's values within an equivalence class (EC).">
            <i class="fa fa-info-circle info-icon" aria-hidden="true" style="color: #1E5B5E;"></i>
            </a>
         </h5>
         <div class="card-body">
            <div class="score-wrap">
               <div class="score">
                  <div class="score-bar">
                     <div class="placeholder"style="background-color: #F2EDE2;">
                        <svg width="200" height="120">
                           <circle cx="100" cy="100" r="65" fill="none" stroke-width="25" stroke-linecap="round" stroke-dashoffset="-205.35" stroke-dasharray="408.69 10000" stroke="#FFFFFF"></circle>
                        </svg>
                     </div>
                     <div class="score-circle-minl">
                        <svg width="200" height="120">
                           <circle cx="100" cy="100" r="65" fill="none" stroke-width="25" stroke-linecap="round" stroke-dashoffset="-205.35" stroke-dasharray="{{ dashArrayminl }} 10000" stroke="url(#score-gradient-minl)"></circle>
                           <defs>
                              <linearGradient id="score-gradient-minl">
                                 <stop offset="0%" stop-color="#FF6363"></stop>
                                 <stop offset="25%" stop-color="#FEBE8C"></stop>
                                 <stop offset="100%" stop-color="#B6E2A1"></stop>
                              </linearGradient>
                           </defs>
                        </svg>
                     </div>
                  </div>
                  <div class="score-value">
                     <div class="score-name" >Score</div>
                     <div class="score-number">{{ minlresult }}</div>
                  </div>
               </div>
            </div>
         </div>
         <div class="card-footer">
            <div id="scoreMessage-minl"></div>
         </div>
      </div>
   </div>
   <div class="col-md-4 mb-3">
      <div class="card" style="background-color: #F2EDE2;">
         <h5 class="card-header">Maximum t-value
            <a  data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="The maximum distance between the distribution of a sensitive attribute's value within an equivalence class (EC) and the distribution of the same attribute across the entire dataset.">
            <i class="fa fa-info-circle info-icon" aria-hidden="true" style="color: #1E5B5E;"></i>
            </a>
         </h5>
         <div class="card-body">
            <div class="score-wrap">
               <div class="score">
                  <div class="score-bar">
                     <div class="placeholder"style="background-color: #F2EDE2;">
                        <svg width="200" height="120">
                           <circle cx="100" cy="100" r="65" fill="none" stroke-width="25" stroke-linecap="round" stroke-dashoffset="-205.35" stroke-dasharray="408.69 10000" stroke="#FFFFFF"></circle>
                        </svg>
                     </div>
                     <div class="score-circle-maxt">
                        <svg width="200" height="120">
                           <circle cx="100" cy="100" r="65" fill="none" stroke-width="25" stroke-linecap="round" stroke-dashoffset="-205.35" stroke-dasharray="{{ dashArraymaxt }} 10000" stroke="url(#score-gradient-maxt)"></circle>
                           <defs>
                              <linearGradient id="score-gradient-maxt">
                                 <stop offset="0%" stop-color="#FF6363"></stop>
                                 <stop offset="25%" stop-color="#FEBE8C"></stop>
                                 <stop offset="100%" stop-color="#B6E2A1"></stop>
                              </linearGradient>
                           </defs>
                        </svg>
                     </div>
                  </div>
                  <div class="score-value">
                     <div class="score-name" >Score</div>
                     <div class="score-number">{{ maxtresult }}</div>
                  </div>
               </div>
            </div>
         </div>
         <div class="card-footer">
            <div id="scoreMessage-maxt"></div>
         </div>
      </div>
   </div>
</div>
<div class="row mt-3">
   <div class="col-md-4 mb-3">
      <div class="card" style="background-color: #F2EDE2;">
         <h5 class="card-header">Minimum k-anonymity:
            <a  data-bs-toggle="tooltip" data-bs-placement="bottom"  data-bs-title="Each individual in the dataset remains indistinguishable from at least k−1 others within the same equivalence class (EC).">
            <i class="fa fa-info-circle info-icon" aria-hidden="true" style="color: #1E5B5E;"></i>
            </a>
         </h5>
         <div class="card-body" style="text-align: center;">
            <h1 class="display-3" style="color: #797771;">
               {{ result['Minimum k-anonymity'] }}
            </h1>
         </div>
         <div class="card-footer">
            <div id="scoreMessage-kanon"></div>
         </div>
      </div>
   </div>
   <div class="col-md-8 mb-6">
      <div class="card" style="background-color: #F2EDE2;">
         <h5 class="card-header">Reasons
         </h5>
         <div class="card-body">
            {% if reason_result %}
            {% for reason in reason_result %}
            <p>{{ reason }}</p>
            {% endfor %}
            {% else %}
            <p>No reason information available.</p>
            {% endif %}
         </div>
         <div class="card-footer">
            <a class="btn btn-link no-hover" type="button" data-bs-toggle="collapse" data-bs-target="#reasonsCollapse" aria-expanded="false" aria-controls="reasonsCollapse" style="color: #1E5B5E;">
            Show Explanation
            </a>
            <br>
            <div id="reasonsCollapse" class="collapse">
               <p>When the P_29 score equals zero, it signifies one of the unacceptable privacy risks within the dataset:</p>
               <ol>
                  <li>Singling out risks: This refers to the potential to isolate specific records that identify an individual within the dataset.</li>
                  <li>Linkability risks: This pertains to the capability to link two or more records related to the same data subject or a group of data subjects, either within the same database or across different databases.</li>
                  <li>Inference risks: This indicates the significant probability of deducing the value of an attribute (such as 390) from the values of a set of other attributes.</li>
               </ol>
               <p>These conditions highlight critical privacy concerns that must be addressed to ensure compliance and safeguard individuals' data according to GDPR.</p>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="row mt-3">
   <div class="card" style="background-color: #F2EDE2;">
      <h5 class="card-header">Problematic info
         <a  data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Information regarding the area of problematic attributes.">
         <i class="fa fa-info-circle info-icon" aria-hidden="true" style="color: #1E5B5E;"></i>
         </a>
      </h5>
      <div class="card-body">
         {% if problems_result %}
         {% for problem in problems_result %}
         <p>{{ problem }}</p>
         {% endfor %}
         {% else %}
         <p>No problematic information available.</p>
         {% endif %}
      </div>
      <div class="card-footer">
         <a class="btn btn-link no-hover" type="button" data-bs-toggle="collapse" data-bs-target="#problemsCollapse" aria-expanded="false" aria-controls="problemsCollapse" style="color: #1E5B5E;">
         Show Explanation
         </a>
         <br>
         <div id="problemsCollapse" class="collapse">
            <p>A minimum k value of 1 suggests the risk of singling out one specific individual within that equivalence class (EC). <br>
               A minimum l value of 0 suggests the disclosure of specific values of sensitive attributes for the individual within that EC. <br>
               A maximum t value greater than 0.5 indicates a severe risk of inferring specific values of sensitive attributes for the individual within that EC.
            </p>
         </div>
      </div>
   </div>
   <div class="col-12">
      <br>
      {% if p29result == 0.0 %} 
      <div class="alert alert-info d-flex justify-content-between align-items-center" role="alert">
         <p>The dataset has a P29 value of 0.0, which means that is needs to be processed in a privacy processing module. Press continue to initiate this proces. </p>
         <a type="button" class="btn btn-primary-custom" href="\privacy_processing">Continue</a>
      </div>
      {% endif %}
      {% if p29result > 0.0 %} 
      <div class="alert alert-info d-flex justify-content-between align-items-center" role="alert">
         <p>The dataset has a P29 value higher than 0.0, which means that it can be further processed in the differential privacy module. Press continue to initiate this proces. </p>
         <a type="button" class="btn btn-primary-custom" href="\differential_privacy">Continue</a>
      </div>
      {% endif %}
   </div>
   <br>
</div>
{% endif %}
{% endblock %}