{% extends "layout.html" %}
{% block title %}FAIRMicrobiome | Privacy metrics{% endblock %}
{% block content %}
<div class="container">
    {% if message %}
    <div class="alert alert-info mt-3" role="alert">
        {{ message }}
    </div>
    {% endif %}

    {% if uploaded and not columns_dropped %}
    <h3>Select direct identifiers to drop:</h3>
    <p>Direct identifiers are the attributes that can directly identify an individual without the need for additional information, such as name and passport number. </p>
    <form method="post">
        {% for col in column_names %}
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="column_{{ loop.index }}" name="columns_to_drop" value="{{ col }}">
            <label class="form-check-label" for="column_{{ loop.index }}">{{ col }}</label>
        </div>
        {% endfor %}
        <br>
        <button type="submit" name="submit_button" value="submit_columns" class="btn btn-primary-custom" style="margin-bottom: 0.5cm;">Continue</button>
    </form>
    {% endif %}

    {% if columns_dropped and not quasi_identifiers_selected %}
    <h3>Select Quasi-identifiers:</h3>
    <p>Quasi-identifiers are attributes that can be combined with other quasi-identifiers to uniquely identify an individual.</p>
    <form method="post">
        {% for col in column_names %}
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="quasi_identifier_{{ loop.index }}" name="quasi_identifiers" value="{{ col }}">
            <label class="form-check-label" for="quasi_identifier_{{ loop.index }}">{{ col }}</label>
        </div>
        {% endfor %}
        <br>
        <button type="submit" name="submit_button" value="submit_quasi_identifiers" class="btn btn-primary-custom" style="margin-bottom: 0.5cm;">Continue</button>
    </form>
    {% endif %}

    {% if quasi_identifiers_selected and current_quasi_identifier %}
    <form method="post">
        <h3>Distinct values and percentages for '{{ current_quasi_identifier }}':</h3>
        <ul>
            {% for value, percentage in quasi_identifier_values[current_quasi_identifier] %}
            <li>{{ value }}: {{ percentage }}%</li>
            {% endfor %}
        </ul>
        <h4>Available values in '{{ current_quasi_identifier }}': {{ distinct_values[current_quasi_identifier] }}</h4>
        {% for value, _ in quasi_identifier_values[current_quasi_identifier] %}
        <div class="form-group">
            <label for="mapping_{{ current_quasi_identifier }}_{{ value }}">Map '{{ value }}' to:</label>
            <input class="form-control" type="text" id="mapping_{{ current_quasi_identifier }}_{{ value }}" name="mapping_{{ current_quasi_identifier }}_{{ value }}" value="{{ value }}">
        </div>
        {% endfor %}
        <br>
        <button type="submit" name="submit_button" value="submit_mapping" class="btn btn-primary-custom" style="margin-bottom: 0.5cm;">Continue</button>
    </form>
    {% endif %}

    {% if not uploaded %}
    <div class="card text-center" style="background-color: white;">
        <div class="card-body">
            <h1 class="display-3">Data Generalization Module</h1>
            <p>Welcome to the data generalization module. In this module, you can upload omics and healthcare datasets to make them GDPR compliant. Start by importing a .csv file.</p>
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="file">Upload a .csv file:</label>
                    <input class="form-control" type="file" name="file" id="file" style="background-color: white; margin-bottom: 0.5cm;" accept=".csv">
                </div>
                <button type="submit" class="btn btn-primary-custom">Import</button>
            </form>
        </div>
    </div>
    {% endif %}

    {% if all_steps_completed %}
    <div class="alert alert-success mt-3" role="alert">
        All steps completed successfully. You can upload a new file to start over.
    </div>
    <a href="{{ url_for('privacy_metrics') }}" class="btn btn-primary-custom">Return to Upload Page</a>
    {% endif %}
</div>
{% endblock %}
