{% extends "layout.html" %}
{% block title %}FAIRMicrobiome | Table preview{% endblock %}
{% block content %}
<form action="/search" method="post">
   <div class="alert custom-alert-secondary d-flex justify-content-between align-items-center" role="alert" style="overflow: hidden;">
      <span style="overflow: hidden; text-overflow: ellipsis;">Table preview for: <b>{{ table_name }}</b></span>
      <a href="/search" class="btn btn-primary-custom">Back to search</a>
   </div>
   <div class="alert custom-alert-secondary d-flex justify-content-between align-items-center" role="alert" style="overflow: hidden;">
      <span style="overflow: hidden; text-overflow: ellipsis;">Table preview for: <b>{{ table_name }}</b></span>
      <a href="/search" class="btn btn-primary-custom">Back to search</a>
      <p>
         <b>Dataset descriptives</b> <br>
         Rows: {{ stats_rows }} <br>
         Columns: {{ stats_columns }}
      </p>
      <p>
         <b>Metadata</b>  <br>
         Value count: {{  metadata_count  }}<br>
         Number of unique variables: {{  metadata_unique  }}<br>
         Most common variable: {{  metadata_top  }}<br>
         Freqency of most common variable: {{  metadata_frequency  }}<br>
      </p>
   </div>
</form>
{% for table_html in tables %}
<div class="table-responsive">
   {{ table_html|safe }}
</div>
{% endfor %}
{% endblock %}