{% extends "layout.html" %}

{% block title %}Upload{% endblock %}

{% block content %} 


        <h1>Upload </h1>
        <form method="POST" enctype="multipart/form-data" id="upload-form">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Reference</span>
            </div>
            <input type="text" class="form-control" name="origin" placeholder="Reference to work" aria-label="Username" aria-describedby="basic-addon1" required>
          </div>
        
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Description</span>
            </div>
            <textarea class="form-control" name="description" aria-label="With textarea" placeholder="Description of data" required></textarea>
          </div>
        <br>
          <div class="input-group mb-3">
            <input type="file" name="file" id="file-input">
            <input type="submit" value="Upload">
          </div>
        </form>
  <div id="progress-bar">
    <div id="progress"></div>
  </div>
  <p id="progress-message"></p>


  <!-- Bootstrap JS and dependencies -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-NtNfyJWJgY1cGutxw0gP5ZCpD+Ete1dj7N0IzeoDQOmopzb84E2Z9I+oosYyIsF5" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"></script>
  
  <!-- MDB JS -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>
  <!-- Font Awesome JS -->
  <script src="https://kit.fontawesome.com/f09ae2d1c7.js" crossorigin="anonymous"></script>
  <!-- Custom CSS -->
  <script src="static/script.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function() {
      $("#upload-form").submit(function(e) {
        e.preventDefault();
        var formData = new FormData(this);
        $.ajax({
          url: '/upload',
          type: 'POST',
          data: formData,
          processData: false,
          contentType: false,
          xhr: function() {
            var xhr = new window.XMLHttpRequest();
            xhr.upload.addEventListener("progress", function(evt) {
              if (evt.lengthComputable) {
                var progress = Math.round((evt.loaded / evt.total) * 100);
                $("#progress").css("width", progress + "%");
                $("#progress-message").text("Creating table:" + progress + "% . Waiting to finalize...");
              }
            }, false);
            return xhr;
          }, 
          success: function(response) {
            $("#progress-message").text("File uploaded successfully.");
          },
          error: function(error) {
            $("#progress-message").text("Error uploading file.");
          }
        });
      });
    });
  </script>
</body>
{% endblock %}


</html>
 