{% extends "layout.html" %}

{% block title %}Upload{% endblock %}

{% block content %}
<head>
  <title>Upload</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <style>
    #progress-bar {
      width: 100%;
      height: 30px;
      background-color: #f2f2f2;
      border-radius: 5px;
    }
    #progress {
      width: 0%;
      height: 100%;
      background-color: #4CAF50;
      border-radius: 5px;
    }
  </style>
</head>
<div class="row justify-content-center">
<br>

<h1>
 Upload
  <!-- <small class="text-muted">What would you like to do?</small> -->
</h1>
<form method="POST" enctype="multipart/form-data" id="upload-form">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Reference</span>
    </div>
    <input type="text" class="form-control" name="origin" placeholder="Reference to work" aria-label="Username" aria-describedby="basic-addon1" required>
  </div>

  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">Description</span>
    </div>
    <textarea class="form-control" name="description" aria-label="With textarea" placeholder="Description of data" required></textarea>
  </div>
<br>
  <div class="input-group mb-3">
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="file-input" name="file">
      <label class="custom-file-label" for="file-input">Choose file</label>
    </div>
    <div class="input-group-append">
      <button class="btn btn-custom" type="submit">Upload</button>
    </div>
  </div>
</form>

  <div id="progress-bar">
    <div id="progress"></div>
  </div>
  <p id="progress-message"></p>
  <script>
    $(document).ready(function() {
      $("#upload-form").submit(function(e) {
        e.preventDefault();
        var formData = new FormData(this);
        $.ajax({
          url: '/upload',
          type: 'POST',
          data: formData,
          processData: false,
          contentType: false,
          xhr: function() {
            var xhr = new window.XMLHttpRequest();
            xhr.upload.addEventListener("progress", function(evt) {
              if (evt.lengthComputable) {
                var progress = Math.round((evt.loaded / evt.total) * 100);
                $("#progress").css("width", progress + "%");
                $("#progress-message").text("Creating table:" + progress + "% . Waiting to finalize...");
              }
            }, false);
            return xhr;
          },
          success: function(response) {
            $("#progress-message").text("File uploaded successfully.");
          },
          error: function(error) {
            $("#progress-message").text("Error uploading file.");
          }
        });
      });
    });
  </script>
</div>
{% endblock %}





<body>
  
</body>
</html>
