<!DOCTYPE html>
<html>
<head>
    <title>{{ name }}</title>
</head>
<div class="topnav">
    <li><a href="{{ url_for('edit_table', name=name) }}">Edit</a></li>
    <li><a href="{{ url_for('upload') }}">Upload</a></li>

</div>
<body>
    <h1>{{ name }}</h1>
    <table>
        {% for row in rows %}
            <tr>
                {% for value in row.values() %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</body>
</html>
