{% extends "dashboard/layout.html" %}
{% block title %}FAIRMicrobiome | Dashboard{% endblock %}
{% block content %}
<div class="row justify-content-center">
   {% with messages = get_flashed_messages(with_categories=true) %}
   {% if messages %}
      <div class="container mt-3">
         {% for category, message in messages %}
         <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
         </div>
         {% endfor %}
      </div>
   {% endif %}
   {% endwith %}
   <br>
   <h1>Welcome, {{ user_email }}!
      <small class="text-muted">What would you like to do?</small>
   </h1>
   <div style="height:3vh;"></div>
   <div class="container">
      <div class="row">
         <div class="col-md-4 mb-3">
            <div class="card">
               <div class="card-color-box">
                  <i class="fa-solid fa-magnifying-glass"></i>
               </div>
               <div class="card-body">
                  <h5 class="card-title">Search</h5>
                  <p class="card-text">Head straight into the search function.</p>
               </div>
               <div class="card-footer">
                  <a href="/dashboard/search" role="button" class="btn btn-primary-custom">Search</a>
               </div>
            </div>
         </div>
         <div class="col-md-4 mb-3">
            <div class="card">
               <div class="card-color-box">
                  <i class="fa-solid fa-upload"></i>
               </div>
               <div class="card-body">
                  <h5 class="card-title">Upload</h5>
                  <p class="card-text">Head to the upload function. </p>
               </div>
               <div class="card-footer">
                  <a href="/dashboard/upload" role="button" class="btn btn-primary-custom">Upload</a>
               </div>
            </div>
         </div>
         <div class="col-md-4 mb-3">
            <div class="card">
               <div class="card-color-box">
                  <i class="fa-solid fa-arrows-rotate"></i>
               </div>
               <div class="card-body">
                  <h5 class="card-title">Update Entry</h5>
                  <p class="card-text">Go here to update an entry in the database.</p>
               </div>
               <div class="card-footer">
                  <a href="/dashboard/update" role="button" class="btn btn-primary-custom">Update entry</a>
               </div>
            </div>
         </div>
      </div>
      <div class="row mt-3">
         <div class="col-md-4 mb-3">
            <div class="card">
               <div class="card-color-box">
                  <i class="fa-solid fa-shield-halved"></i>
               </div>
               <div class="card-body">
                  <h5 class="card-title">Data generalization</h5>
                  <p class="card-text">Go here to use the data generalization module.</p>
               </div>
               <div class="card-footer">
                  <a href="/data/data_generalization" role="button" class="btn btn-primary-custom">Data generalization</a>
               </div>
            </div>
         </div>
         <!-- <div class="col-md-4 mb-3">
            <div class="card">
               <div class="card-color-box">
                  <i class="fa-solid fa-shield-halved"></i>
               </div>
               <div class="card-body">
                  <h5 class="card-title">P29 Score</h5>
                  <p class="card-text">Access the P29 Score metrics here.</p>
               </div>
               <div class="card-footer">
                  <a href="\p29score" role="button" class="btn btn-primary-custom">P29 Score</a>
               </div>
            </div>
         </div> -->
         <div class="col-md-4 mb-3">
            <div class="card">
               <div class="card-color-box">
                  <i class="fa-solid fa-arrows-split-up-and-left"></i>
               </div>
               <div class="card-body">
                  <h5 class="card-title">Federated learning</h5>
                  <p class="card-text">Access the federated learning dashboard here.</p>
               </div>
               <div class="card-footer">
                  <a href="/federated_learning/federated_learning" role="button" class="btn btn-primary-custom">Federated learning</a>
               </div>
            </div>
         </div>
         <div class="col-md-4 mb-3">
            <div class="card">
               <div class="card-color-box">
                  <i class="fa-solid fa-chart-line"></i>
               </div>
               <div class="card-body">
                  <h5 class="card-title">Visualization</h5>
                  <p class="card-text">Explore your datasets with visualization tools.</p>
               </div>
               <div class="card-footer">
                  <a href="/visualization" role="button" class="btn btn-primary-custom">Visualization</a>
               </div>
            </div>
         </div>
         </div>
      </div>
   </div>
   
<div style="height:5vh;"></div>
{% endblock %}