{% extends "dashboard/layout.html" %}

{% block title %}FAIRMicrobiome | Update entry{% endblock %}

{% block content %}
<div class="row">
   <div class="col-md-1"></div>
   <div class="col-md-10">
      <div class="card text-center" style="background-color: white;">
         <div class="card-body">
            <h1 class="display-3">Update entry</h1>
            <br>

            <!-- Error alert box -->
            <div id="update-error-alert" class="alert alert-danger" role="alert" style="display: none;">
                <!-- Error message will be inserted here -->
            </div>

            <form method="POST" id="update-form">
               <div class="container">
                  <div class="row">
                     <div class="col-12">
                        <!-- Row ID Input -->
                        <div class="input-group">
                           <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon1">Row ID</span>
                           </div>
                           <textarea class="form-control" name="row_id" aria-label="With textarea" id="row_id" placeholder="Row ID" rows="3" required></textarea>
                           <div class="invalid-feedback" id="row_id-error" style="display: none;">Please enter a row id</div>
                        </div>
                        <br><br>

                        <!-- Column Name Input -->
                        <div class="input-group">
                           <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon2">Column name</span>
                           </div>
                           <textarea class="form-control" name="column_name" aria-label="With textarea" id="column_name" placeholder="Column name" required></textarea>
                           <div class="invalid-feedback" id="column_name-error" style="display: none;">Please enter a column name</div>
                        </div>
                        <br><br>

                        <!-- New Value Input -->
                        <div class="input-group">
                           <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon3">New value</span>
                           </div>
                           <textarea class="form-control" name="new_value" aria-label="With textarea" id="new_value" placeholder="New value" required></textarea>
                           <div class="invalid-feedback" id="new_value-error" style="display: none;">Please enter a new value</div>
                        </div>
                        <br><br>
                     </div>
                     <div class="col"></div>
                  </div>
               </div>

               <!-- Update Button -->
               <button type="button" value="Upload" class="btn btn-primary-custom" onclick="validateUpdateForm()">Update entry</button>

               <!-- Modal for confirmation -->
               <div class="modal fade" id="updateModal">
                  <div class="modal-dialog">
                     <div class="modal-content">
                        <div class="modal-header">
                           <h4 class="modal-title">Confirmation</h4>
                           <button type="button" class="btn-close" onclick="closeUpdateForm()" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                           Are you sure you want to update this entry?
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                           <div>
                              <!-- Cancel and Close Button -->
                              <button type="button" class="btn btn-cancel-custom" onclick="closeUpdateForm()">Close</button>

                              <!-- Update and Close Button -->
                              <button type="button" class="btn btn-primary-custom" onclick="updateAndCloseForm()">Update</button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
   <div class="col-md-1"></div>
</div>
{% endblock %}
